* {
    margin: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;

  }

.grid-header{
    grid-area: header;
    background-color: aliceblue;
    padding: 30px;
}

.grid-menu{
    grid-area: menu;
    background-color:aqua;
    

    
}
.grid-main{
    grid-area: main;
    background-color: blue;
    padding: 125px;
}



.grid-footer{
    grid-area: footer;
    background-color: antiquewhite;
    padding: 30px;
    height: 50px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: left;
    list-style-type: none;
}

li{
    text-align: center;
    padding: 5px;
    justify-content: left;
}

li:hover{
    background-color: rgb(89, 89, 191);
    color: white;
    margin-left: -2.8px;

}

.titulo{
    color: black;
    text-align: center;
    font-size: 1.5em;
}