* {
    margin: 0%;
    font-family: arial, sans-serif;
    text-align: justify;
}

#pagina {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr 150px;
    width: auto;
    height: 100vh;

    grid-template-areas: "head head head"
                         "nav main main"
                         "footer footer footer";
  
  }
  
  #pagina > header {
    grid-area: head;
    background-color: #8ca0ff;

  }
  
  #pagina > nav {
    grid-area: nav;
    background-color: #c2d4db;
  
  }
  
  #pagina > main {
    grid-area: main;
    background-color: #b8c0e8;
    padding-bottom: 80px;
  }
  
  #pagina > footer {
    grid-area: footer;
    background-color: #8ca0ff;
    height: 120px;
    
  }

  #pagina > aside {
    grid-area: aside;
    background-color: #8ca0ff;
  }

.flexbox1{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 5px;
}

li{
  padding: 5px;
  border-radius: 10px;
  border: #000000;
}

li:hover{
  background-color: #ababab;
  font-size: 110%;
  padding: 7px;
  margin-left: -3px;

}

.titulo{
  font-size: 5rem;
  text-align: center;
  letter-spacing:-2px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #201d1f, 0 0 25px #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke-color:#000000;
  -webkit-text-stroke-width:2px; 
  
  }

.p1{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.header{
  padding: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  padding: 10px;
}
.grid-item {
  align-items: center;
  height: 150px;
  padding: 50px;
  font-size: 20px;
  text-align: center;
  
}


.tipo{
  font-size: 20px;
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
}

.img_proc{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  border-radius: 50px;
}
.img_raton{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border-radius: 50px;
}
.img_fuente{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 175px;
  width: 200px;
  border-radius: 50px;
}
.img_grafica{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 150px;
  width: 250px;
  border-radius: 50px;
}

.img_logo{
  height: 80px;
  width: 100px;
  margin-left: 120px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.tabla {
  width: 100%;
  text-align: center;
}

td {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 480px){
  #pagina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
    100px
    120px 
    1fr
    150px;
    width: auto;
    height: 100vh;

    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "footer footer";
  }
  .titulo{
    font-size: 3.5rem;
    text-align: center;
    letter-spacing:-2px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #201d1f, 0 0 25px #000000;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width:2px; 
    }
}
/*
@media all and (min-width: 768px){
  .grid-container{
    grid-template: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px){
  .grid-container{
    grid-template: repeat(6, 1fr);
  }
}*/
