* {
    margin: 0%;
    font-family: arial, sans-serif;
    text-align: justify;
}
#pagina {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-areas: "head head head"
                         "nav main main"
                         "foot foot foot";
    grid-template-rows: 100px 1fr 30px;
    grid-template-columns: 200px 1fr 150px;
  }
  
  #pagina > header {
    grid-area: head;
    background-color: #8ca0ff;
  }
  
  #pagina > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #pagina > main {
    grid-area: main;
    background-color: #c1c1c1;
  }
  
  #pagina > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }

  #pagina > aside {
    grid-area: aside;
    background-color:blueviolet;
  }

.flexbox1{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 5px;
}

li{
  padding: 5px;
  border-radius: 10px;
  border: #000000;
}

li:hover{
  background-color: #f07a62;
  font-size: 110%;
  padding: 7px;
  margin-left: -3px;

}

.titulo{
  text-align: center;
  padding: 10px;
  font-size: 200%;
}

.header{
  padding: 5px;
}

.p1{
  text-align: center;
  padding: 5%;
  text-decoration: underline;
}

.subtitulo{
  text-align: center;
  font-size: 90%;

}

.articulo{
  padding: 20px;
}

.subarticulo{
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-size: 120%;
}
.tituloArticulo{
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-right: auto;
  margin-left: 30px;
  font-size: 90%;
  border-color: #000000;
  
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

img{
  width: 150px;
  height: 150px;
}


.flexbox2{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5px;
}

#equipos{
      border-style: hidden;
}